In [7]:
import pandas as pd


data = {
    'Age':[25,None,30,35,None,4.5],
    'Height':[5.5,6.1,5.9,None,5.8,5.2],
    'HelmetStatus':[1,None,1,0,1,1],
    'Gender':['M','F','M',None,'F','M'],
    'Experience':[2,4,6,1,None,None]

}

df = pd.DataFrame(data)

print(df)

# Replacing missing values for numerical colums(e.g, Age, HEight,HelmetStatus,Gender,Experience)
df_filled_mean = df.copy()
df_filled_median = df.copy()
df_filled_mode = df.copy()

#Replace missing values with the mean for numerical colums
df_filled_mean['Age'].fillna(df['Age'].mean(),inplace=True)
df_filled_mean['Height'].fillna(df['Height'].mean(),inplace=True)
df_filled_mean['Experience'].fillna(df['Experience'].mean(),inplace=True)

#replace missing values with median for numerical columns
df_filled_median['Age'].fillna(df['Age'].median(),inplace=True)
df_filled_median['Height'].fillna(df['Height'].median(),inplace=True)
df_filled_median['Experience'].fillna(df['Experience'].median(),inplace=True)

#replace missing values with mode for numerical columns
df_filled_mode['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df_filled_mode['HelmetStatus'].fillna(df['HelmetStatus'].mode()[0],inplace=True)

#show the results for all imputations
print("\nResults for Mean Imputation:")
print(df_filled_mean)

print("\nResults for Median Imputation:")
print(df_filled_median)

print("\nResults for Mode Imputation:")
print(df_filled_mode)

    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0   None         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

Results for Mean Imputation:
      Age  Height  HelmetStatus Gender  Experience
0  25.000     5.5           1.0      M        2.00
1  23.625     6.1           NaN      F        4.00
2  30.000     5.9           1.0      M        6.00
3  35.000     5.7           0.0   None        1.00
4  23.625     5.8           1.0      F        3.25
5   4.500     5.2           1.0      M        3.25

Results for Median Imputation:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1  27.5     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     5.8           0.0   None         1.0
4  27.5     5.8           1.0      F         3.0
5   4.5     5.2           1.0      M         3.0

Results for Mode Imputation:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           1.0      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0      M         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

<ipython-input-7-6b666fade7c6>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Age'].fillna(df['Age'].mean(),inplace=True)
<ipython-input-7-6b666fade7c6>:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Height'].fillna(df['Height'].mean(),inplace=True)
<ipython-input-7-6b666fade7c6>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Experience'].fillna(df['Experience'].mean(),inplace=True)
<ipython-input-7-6b666fade7c6>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Age'].fillna(df['Age'].median(),inplace=True)
<ipython-input-7-6b666fade7c6>:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Height'].fillna(df['Height'].median(),inplace=True)
<ipython-input-7-6b666fade7c6>:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Experience'].fillna(df['Experience'].median(),inplace=True)
<ipython-input-7-6b666fade7c6>:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
<ipython-input-7-6b666fade7c6>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['HelmetStatus'].fillna(df['HelmetStatus'].mode()[0],inplace=True)

In [9]:
import pandas as pd
#create a sample dataframe with duplicates
data = {
    'Name':['Roshita','Petal','Charlie','Roshita','Petal'],
    'Age':[25,30,35,25,30],
    'City':['hyderabad','bangalore','Delhi','Hyderabad','Bangalore ']
}

df = pd.DataFrame(data)
print('Original Dataframe:')
print(df)

duplicates = df[df.duplicated()]
print("\nIdentified Duplicates")
print(duplicates)

df_cleaned = df.drop_duplicates()

print("\nDataFrame after removing duplicates:")
print(df_cleaned)

Original Dataframe:
      Name  Age        City
0  Roshita   25   hyderabad
1    Petal   30   bangalore
2  Charlie   35       Delhi
3  Roshita   25   Hyderabad
4    Petal   30  Bangalore

Identified Duplicates
Empty DataFrame
Columns: [Name, Age, City]
Index: []

DataFrame after removing duplicates:
      Name  Age        City
0  Roshita   25   hyderabad
1    Petal   30   bangalore
2  Charlie   35       Delhi
3  Roshita   25   Hyderabad
4    Petal   30  Bangalore