In [3]:
import numpy as np
array = np.arange(40).reshape(4,10)
print(array)

[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]]

In [4]:
import numpy as np
arr = np.array([[1,2,3],[4,5,6]])
print(arr)

[[1 2 3]
 [4 5 6]]

In [8]:
import numpy as np
array = np.arange(40).reshape(4,10)
print(array)

arr = np.array([[1,2,3],[4,5,6]])
print(arr)
arr = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])

[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]]
[[1 2 3]
 [4 5 6]]

In [11]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9,10,11,23])
print(arr[2]+ arr[1])
arr[5] + arr[7]

#4th element on 1 row
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print('4th element on 1nd row: ', arr[1, 2])

#3th element on 0th row

5
4th element on 2nd row:  8

In [18]:
import numpy as np
arr = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(arr)

#3th element on 0th row
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print("0th elemetn on 2nd row:", arr[0, 3])

#3th element on 0th row

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
0th elemetn on 2nd row: 4

In [19]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7])
print(arr[-3:-1])

[5 6]

In [20]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7])
print(arr[1:5:2])

[2 4]

In [21]:
import pandas as pd

# Sample DataFrame (replace with your actual DataFrame)
data = pd.DataFrame({
    'Brand': ['Maruti', 'Hyundai', 'Hyundai', 'Maruti'],
    'Year': [2012, 2015, 2020, 2012],
    'City': ['Delhi', 'Delhi', 'Mumbai', 'Delhi'],
    'Kms_Driven': [45000, 35000, 15000, 60000],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Discount_Amount': [5000, 7000, 6000, 8000]
})

In [22]:

# Filter DataFrame
filtered_data = data.loc[
    (data['City'] == 'Delhi') &
    (data['Kms_Driven'] > 30000)
]

print("Filtered Data:")
print(filtered_data)

# Sample DataFrame for join operations
other_data = pd.DataFrame({
    'Brand': ['Maruti', 'Hyundai'],
    'Customer_Name': ['Alice', 'Bob'],
    'Discount_Amount': [5000, 7000]
})

Filtered Data:
     Brand  Year   City  Kms_Driven Customer_Name  Discount_Amount
0   Maruti  2012  Delhi       45000         Alice             5000
1  Hyundai  2015  Delhi       35000           Bob             7000
3   Maruti  2012  Delhi       60000         David             8000

In [24]:
#Inner Join
inner_join = pd.merge(filtered_data, other_data, on=['Brand', 'Customer_Name', 'Discount_Amount'], how='inner')
print("\nInner Join Result:")
print(inner_join)

#Outer Join
outer_join = pd.merge(filtered_data, other_data, on=['Brand', 'Customer_Name', 'Discount_Amount'], how='outer')
print("\nOuter Join Result:")
print(outer_join)

#Left Join
left_join = pd.merge(filtered_data, other_data, on=['Brand', 'Customer_Name', 'Discount_Amount'], how='left')
print("\nLeft Join Result:")
print(left_join)

#Right Join
right_join = pd.merge(filtered_data, other_data, on=['Brand', 'Customer_Name', 'Discount_Amount'], how='right')
print("\nRight Join Result:")
print(right_join)

Inner Join Result:
     Brand  Year   City  Kms_Driven Customer_Name  Discount_Amount
0   Maruti  2012  Delhi       45000         Alice             5000
1  Hyundai  2015  Delhi       35000           Bob             7000

Outer Join Result:
     Brand  Year   City  Kms_Driven Customer_Name  Discount_Amount
0  Hyundai  2015  Delhi       35000           Bob             7000
1   Maruti  2012  Delhi       45000         Alice             5000
2   Maruti  2012  Delhi       60000         David             8000

Left Join Result:
     Brand  Year   City  Kms_Driven Customer_Name  Discount_Amount
0   Maruti  2012  Delhi       45000         Alice             5000
1  Hyundai  2015  Delhi       35000           Bob             7000
2   Maruti  2012  Delhi       60000         David             8000

Right Join Result:
     Brand  Year   City  Kms_Driven Customer_Name  Discount_Amount
0   Maruti  2012  Delhi       45000         Alice             5000
1  Hyundai  2015  Delhi       35000           Bob             7000